#BrowserScreen {
    background-color : #AEB8C1;
    height: 85vh;
    width: 92.5vw;
    padding: 3%;
}

#MainScreen {
    background-color: white;
    border-radius: 97px;
    height: 100%;
    width: 100%;
}


#LoginLogo
{  
    position: absolute;
    padding: 30px;
    margin: 10% 10% 10% 2%;
}

#BackgroundLogo {
    float:left;

    background-color : #CCE4FD;
    height: 100%;
    width: 50%;
    border-top-left-radius: 97px;
    border-bottom-left-radius: 97px;

}