#BrowserScreen {
    background-color : #AEB8C1;
    height: 85vh;
    width: 92.5vw;
    padding: 3%;
}

#MainScreen {
    background-color: white;
    border-radius: 25px;
    height: 100%;
    width: 100%;
    border-left: 50% solid red;
    
}
#logo
{  padding: 30px;
    margin: 20px;


}