#BrowserScreen {
    background-color : #AEB8C1;
    height: 85vh;
    width: 92.5vw;
    padding: 3%;
}

#MainScreen {
    background-color: white;
    height: 100%;
    width: 100%;
    border-radius: 30px;
}